.embla {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;

  img {
    width: 100%;
    object-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .embla__container {
    height: 100%;
  }

  .embla__slide img {
    height: 100%;
    width: auto;
  }
}
