.header {
  background-color: #fff;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo {
  height: 34px;
}
