@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.statisticsContainer {
  display: flex;
  margin-top: 63px;
  align-items: center;
  gap: 40px 60px;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.statisticsImage {
  aspect-ratio: 2.27;
  object-fit: contain;
  object-position: center;
  width: 200px;
  align-self: stretch;
  margin: auto 0;
}

.statisticCard {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: flex-start;
  width: 243px;
  margin: auto 0;
}

.statisticIconLeft, .statisticIconRight {
  aspect-ratio: 0.71;
  object-fit: contain;
  object-position: center;
  width: 49px;
  margin-top: 5px;
}

.statisticContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statisticLabel {
  font-size: 51px;
  font-weight: 800;
  line-height: 1;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.statisticDescription {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-top: -9px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .statisticsContainer {
    max-width: 100%;
    margin-top: 40px;
  }

  .statisticLabel {
    font-size: 40px;
  }
}
